.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.App-tasks {
	display: flex;
	flex-direction: column;
	width: min(50rem, 50%);
	height: 50rem;
	padding-block: 2rem;
	background-color: antiquewhite;
	box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
	overflow: hidden;
	margin: 1rem;
}

.App-header {
	margin-top: -2rem;
	top: 0;
	width: 100%;
	padding: 1rem;
	background-color: #333;
	color: aliceblue;
}

.App-link {
	color: #61dafb;
}

.todo-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.5rem;
	text-align: left;
	padding-bottom: 0.5rem;
	line-height: 1.6;
}

.todo-section:not(:last-child)::after {
	content: "";
	border-bottom: 1px #444 solid;
	width: 95%;
	padding: 1%;
}

.todo-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-section:first-child {
	border: 0.5rem tomato dotted;
	font-size: 1.5rem;
	color: darkblue;
}

.todo-section h3 {
	color: firebrick;
	font-size: 1.7rem;
}

.todo-section h4 {
	text-transform: capitalize;
	font-size: 1.4rem;
}

.todo-section p {
	font-size: 1.2rem;
}

.btn {
	padding: 1rem 0.5rem;
	border-radius: 1rem;
	border: none;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
	width: 8rem;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.2s ease-in;
	display: none;
}

.btn:hover {
	transform: scale(1.1);
	cursor: pointer;
	z-index: 20;
}

footer {
	color: #eee;
}
